@import 'reset';
@import 'mixins';
@import 'progressBar';
@import 'scoreBoard';

@viewportWidth: 990px;

BODY, HTML {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  // do not allow spaces affect inline elements
  font-size: 0;
  line-height: 0;

  * {
    box-sizing: border-box;
  }
}

.app {
  position: relative;
  height: 100%;
  padding: 20px;
}

.app__wrap__progressBar {
  margin: 20px 0;
}

// Modifiers
.app--love {
  background: url('../img/love.jpeg') center -250px no-repeat;

  .app__wrap__scoreBoard,
  .app__wrap__progressBar {
    display: none;
  }
}

.mixin-respondTo(tablet, {
  .app__wrap__scoreBoard {
    width: @viewportWidth;
    margin: 0 auto 20px;
    text-align: center;
  }

  .app__wrap__progressBar {
    width: @viewportWidth;
    margin: 70px auto 0;
  }
});
