@digitBackgroundColor: #efefef;
@digitShadowColor: #444;
@digitBorderRadius: 8px;

@digitFontSize: 100px;
@digitFontSizeMobile: 70px;

.digit {
  display: inline-block;
  padding: 10px;

  background-color: @digitBackgroundColor;
  font-size: @digitFontSizeMobile;
  line-height: @digitFontSizeMobile;
  text-align: center;
  border-radius: @digitBorderRadius;
  box-shadow: 0 0 15px @digitShadowColor;
}

.mixin-respondTo(tablet, {
  .digit {
    font-size: @digitFontSize;
    line-height: @digitFontSize;
    padding: 10px 20px;
  }
});
