@progressBarHeight: 50px;
@progressBarBorderRadius: 20px;
@progressBarEmptyColor: #f7f7f7;
@progressBarFilledColor: #62c462;
@progressBarTextColor: #fff;
@progressBarTextShadowColor: #777;

.progressBar {
  // allow set position of progressBar__text
  position: relative;
  height: @progressBarHeight;
  border-radius: @progressBarBorderRadius;
  background-color: @progressBarEmptyColor;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.progressBar__bar {
  height: @progressBarHeight;
  // default width
  width: 50%;
  background: @progressBarFilledColor;
  border-radius: @progressBarBorderRadius 0 0 @progressBarBorderRadius;
}

.progressBar__text {
  position: absolute;
  width: 100%;
  font-size: @progressBarHeight;
  line-height: @progressBarHeight;
  text-align: center;
  color: @progressBarTextColor;
  text-shadow: 1px 1px 4px @progressBarTextShadowColor;
}
