/**
 * digits + label
 */

@import 'digit';

@labelFontSize: 40px;
@labelFontSizeMobile: 32px;

.score {
  display: inline-block;
}

.score__digits {
  display: inline-block;
}

.score__label {
  display: inline-block;
  min-width: 130px;
  margin-left: 10px;

  line-height: @labelFontSizeMobile;
  font-size: @labelFontSizeMobile;
  text-align: left;
  vertical-align: top;
}

.score__wrap__digit {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.mixin-respondTo(tablet, {
  .score__digits {
    display: block;
  }

  .score__label {
    display: block;
    margin-top: 15px;
    margin-left: 0;
    padding: 2px 0 0 4px;

    font-size: @labelFontSize;
    line-height: @labelFontSize;
    text-align: center;
  }
});
