@import 'score';

.scoreBoard {
  display: inline-block;
}

.scoreBoard__wrap__score {
  margin-bottom: 25px;

  &:last-child {
      margin-bottom: 0;
  }
}

.mixin-respondTo(tablet, {
  .scoreBoard__wrap__score {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 0;

    &:last-child {
        margin-right: 0;
    }
  }
});
